#Nurkse {
	height: 372; width: 257;
}

h1 {
	background-color: gray; text-align: center;
}

h2 {
	color: green; text-align: center; border-style: dotted; border-color: black;
}

.tekst { text-align: justify;
}

h1, h2, p {
	font-family: "Times New Roman", Serif;
}

.näited {
	font-weight: bold;
	text-decoration: underline;
}

.loendus {
	font-style: italic;
}

a:hover{
	background-color: yellow;
}
h2:hover{
	background-color: gray;
}