body {
	margin: 0px;
	font-family: "Helvetica", "Arial", sans-serif;
}

#wrap {
	width: 800px;
    background: white;
    margin: auto;
    overflow: auto;
}

#menu {
    list-style: none;
    text-align: center;
    background: white;
  

}
#menu li, #menu a, #menu img {
    display: inline-block;
    vertical-align: middle;
}

#menu img{
	background: #24656f;
}

#menu a {
    padding:10px;
    color: #24656f;
    text-decoration: none;
    text-transform: uppercase;
}
#menu a:hover {
    background: #24656f;
    color: white;
}

#menu .dropdown{
        width: 100%; 
        display: none;
        position: absolute;
        left: 0;
    }

#menu  li:hover .dropdown{
        display: block;	
    }

#menu  li:hover .dropdown li{
        display: block;	
    }

#changing {
    max-width: 800px;
    text-align: center;
    font-size: 200%;
    border-style: solid;
    border-color: #24656f;
    color:black;
    position: absolute;
   top: 70%;

}

.pealkiri{
    max-width: 800px;
    text-align: center;
    color: #24656f;
    position:absolute;
    top: 25%;
    margin:auto;
}

#button1{
    background-color: black;
    color: white;
    font-size: 100%; 
    position: absolute;
    top:40%;
    margin:auto;
}

#button2{
    background-color: black;
    color: white;
    font-size: 100%; 
    position: absolute;
    top:50%;
    margin:auto;
}

table, td, th {
    border: 2px solid black;
}

table  {
    width: 100%;
}

.col {
    background-color: #24656f;
    color: white;
}