<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>Kulud ja tulud</title>
	<link rel="stylesheet" type="text/css" href="static/style.css">
	 <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  	<link rel="stylesheet" href="/resources/demos/style.css">
 	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="static/javasc.js"></script>
</head>

<body>

<div id="wrap">
	<ul id="menu">
		<li><img src="pics/pig.png" alt="logo" width=60px></li>
		<li><a href="?">Pealeht</a></li>
		<?php if(isset($_SESSION['user'])): ?>		
			<li><a href="?mode=overview">Ülevaade</a></li>
			<li><a href="?mode=history">Ajalugu</a>
				<ul class="dropdown">
				<li><a href="?mode=costhistory">Kulud</a></li>
				<li><a href="?mode=incomehistory">Tulud</a></li>
				</ul>
			</li>
			<li><a href="?add">Lisa</a>
			<ul class="dropdown">
				<li><a href="?mode=addcost">Kulud</a></li>
				<li><a href="?mode=addincome">Tulud</a></li>
				</ul>
			</li>
			<li><a href="?mode=logout">Logi välja</a></li>	
		<?php else: ?>		
			<li><a href="?mode=login"> Logi sisse </a></li>
			<li><a href="?mode=register"> Registreeri </a></li>		
		<?php endif; ?>				
	</ul>
	<div id="content">