<?php if(isset($_SESSION['user'])): ?>
		<h1 class="pealkiri"> Tere tulemast! Oma kuludel ja tuludel on hea silm peal hoida!></h1>	
	<?php else: ?>
		<h1 class="pealkiri"> Tere tulemast! Oma kuludel ja tuludel on hea silm peal hoida! Registreeri ennast juba täna!</h1>	
		<button id="button1" onclick="reg()"> Registreeri end</button>	
	<?php endif; ?>	
<div>

<div id="changing"> Beware of little expenses; a small leak will sink a great ship. - Benjamin Franklin </div>
<button id="button2" onclick="quotes()"> Vaata </button>
</div>

